@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  body {
    background-image: url("../../static/login-background.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
   }

   .loginLabel{
    color: #ffffff; 
    font-size: 25px;
    text-shadow: 2px 2px #8a8a8a5c;
   }